<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 반드시 sql문을 호출하는 .java 파일의 이름과 일치해야함 -->
<mapper namespace="com.smhrd.web.mapper.BoardMapper">

	<select id="selectUserByEmail" parameterType="string"
		resultType="com.smhrd.web.entity.Board">
		SELECT user_idx, email, pw, nick, auth_type, social_id FROM cf_user WHERE
		email = #{email}
	</select>
<!-- 
	<select id="selectUserBySocialId"
		resultType="com.smhrd.web.entity.Board">
		SELECT * FROM cf_user WHERE social_id = #{socialId} AND auth_type =
		#{authType}
	</select>
 -->
	<insert id="insertSocialUser"
		parameterType="com.smhrd.web.entity.Board">
		INSERT INTO cf_user(email, pw, nick, auth_type,
		social_id, alg_code,
		prefer_taste, cooking_skill, joined_at)
		VALUES(#{email}, #{pw}, #{nick}, #{auth_type}, #{social_id},
		#{alg_code},
		#{prefer_taste}, #{cooking_skill}, #{joined_at})
	</insert>
	
	<select id="selectUserByIdx" parameterType="int" resultType="com.smhrd.web.entity.Board">
	  	SELECT * FROM cf_user WHERE user_idx = #{user_idx}
	</select>
	
	<update id="updateUserInfo" parameterType="com.smhrd.web.entity.Board">
	  UPDATE cf_user
	  SET
	    nick = #{nick},
	    alg_code = #{alg_code},
	    prefer_taste = #{prefer_taste},
	    cooking_skill = #{cooking_skill}
	  WHERE user_idx = #{user_idx}
	</update>
	<!-- 기타 쿼리문 여기서부터 시작 -->
	<select id="selectRecipesByIds" parameterType="list" resultType="com.smhrd.web.entity.Board">
  SELECT * FROM cf_recipe
  WHERE recipe_idx IN
  <foreach item="id" collection="recipeIdxList" open="(" separator="," close=")">
    #{id}
  </foreach>
</select>
</mapper>