<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 반드시 sql문을 호출하는 .java 파일의 이름과 일치해야함 -->
<mapper namespace="com.smhrd.web.mapper.BoardMapper">

	<!-- 게시판 전체 글조회 -->
  <select id="selectAll" resultType="com.smhrd.web.entity.Board">
    	SELECT * FROM BOARD
    	ORDER BY IDX DESC		
  </select>
  
  <!-- 게시글 한개 조회 -->
  <select id="boardContent" resultType="com.smhrd.web.entity.Board">
  		SELECT * FROM BOARD WHERE IDX=#{idx}
  </select>
  
  <!-- 글작성 완료 -->
  <insert id="register" parameterType="com.smhrd.web.entity.Board">
  		INSERT INTO BOARD(TITLE, WRITER, CONTENT,IMG_URL)
		VALUES(#{title},#{writer},#{content},#{img_url})
  </insert>
  
  <!-- 게시글 삭제 -->
  <delete id="boardDelete" parameterType="com.smhrd.web.entity.Board">
  	DELETE FROM BOARD WHERE IDX=#{idx}
  </delete>
  
  <update id="boardUpdate" parameterType="com.smhrd.web.entity.Board">
  	UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content}, WRITER=#{writer} WHERE IDX = #{idx}
  </update>
  <select id="searchTitle" resultType="com.smhrd.web.entity.Board">
  		SELECT * FROM BOARD WHERE TITLE LIKE CONCAT('%',#{search},'%');
  </select>
  <select id="searchContent" resultType="com.smhrd.web.entity.Board">
  SELECT * FROM BOARD 
  <where>
    <if test="filter == '작성자'">
      WRITER LIKE CONCAT('%', #{searchContent}, '%')
    </if>
    <if test="filter == '제목'">
      TITLE LIKE CONCAT('%', #{searchContent}, '%')
    </if>
    <if test="filter == '내용'">
      CONTENT LIKE CONCAT('%', #{searchContent}, '%')
    </if>
  </where>
  ORDER BY IDX DESC
</select>

<!-- MYBATIS를 활용한 동적 쿼리문
<select id="search" parameterType="SearchCriteria" resultType="com.smhrd.web.entity.Board">
   SELECT * FROM BOARD
   <include refid="searchOption"/>
</select>

<sql id="searchOption">
   <if test="filter=='작성자'">
       WHERE WRITER LIKE CONCAT('%',#{searchContent},'%')
   </if>
   <if test="filter=='제목'">
       WHERE TITLE LIKE CONCAT('%',#{searchContent},'%')
   </if>
   <if test="filter=='내용'">
       WHERE CONTENT LIKE CONCAT('%',#{searchContent},'%')
   </if>
</sql>	



 -->
</mapper>